bandit
coverage
flake8
flake8-bugbear
flake8-comprehensions
flake8-executable
mccabe
# fix mypy to a previous version for now due to a regression: https://github.com/python/typeshed/issues/4681
mypy == 0.782
pytest
yamllint
